@import url(./reset.css);
/* var */
:root {
    /* fonts */
    --font-main: 'Lato', sans-serif;
    --font-add: 'Raleway', sans-serif;/*statt georgia */
    --fw-700: font-weight: 700;
    --fw-600: font-weight: 600;
    --fw-500: font-weight: 500;
    --fw-400: font-weight: 400;
    /* theme colors */
    --color-main: #01996D;
    --color-nav: #292929;
    --color-text: #484848;
    --color-bg: #245852;
    --color-border: #D6D6D6;
    /* const colors */
    --color-black: #000;
    --color-white: #fff;
    /* border radius */
    --b-radius: 12px;
    --b-radius-btn: 4px;
}

/* wrapper, container */
.wrapper {
    max-width: 1920px;
    margin-inline: auto;
    position: relative;
}
.container {
    max-width: 1547px;
    width: 100%;
    margin-inline: auto;
}
.pd-x {
    padding: 0 60px;
}
.title-primary {
    font-family: var(--font-add);
    font-weight: var(--fw-700);
    font-size: 65px;
    line-height: 74px;
    color: var(--color-main);
}
.title-secondary {
    font-family: var(--font-add);
    font-weight: var(--fw-700);
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);
}
.title-sondary.title-secondary_white {
    color: var(--color-white);
}
.text-secondary {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-text);
}
.btn {
    display: inline-block;
    border: 0;
    outline: none;
    font-family: var(--font-main);
    font-weight: var(--fw-400);
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    text-align: center;

}
.btn_link {
    padding: 10px;
    color: var(--color-black);
    border-bottom: 2px solid transparent ;
}
.btn_link:hover {
    border-bottom: 2px solid var(--color-bg) ;
}
.btn_primary {
    padding: 13px 50px;
    background: var(--color-main);
    border-radius: var(--b-radius-btn);
    border: 1px solid var(--color-main);
    color: var(--color-white);
}
.btn_primary:hover {
    background: var(--color-bg);
    transform: translateY(-10px);

}
/* header */
.header {
    background: var(--color-white);
    padding: 25px 0;
    border-bottom: 1px solid var(--color-border) ;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    animation: logo-Animation 4s forwards infinite;

}
@keyframes logo-Animation {
    0% {
    transform: rotate(0);

    }
    50% {
        transform: rotate(360deg);

    }
    100% {
    transform: rotate(0);


    }
}
.nav__ul {
    display: flex;
    align-items: center;
    gap: 72px;
}
.nav__a {
    display: block;
    font-weight: var(--fw-500);
    padding-bottom: 10px;
    color: var(--color-nav);
    font-size: 20px;
    line-height: 24px;
    border-bottom: 2px solid transparent;
    transition: .2s all ease-in-out;
}
.nav__a:hover {
    border-bottom: 2px solid var(--color-bg) ;
}
.header__buttons {
    display: flex;
    gap: 35px;
    align-items: center;
}
/* header end*/

/* main-screen */
.main-screen {
    height: 100vh;
    margin-bottom: 170px;
}
.main-screen__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

}
.main-screen__info {

    align-self: center;
    flex: 0 1 445px;
}
.main-screen__title {
    margin-bottom: 30px;
}
.main-screen__desc {
    margin-bottom: 53px;
}
.main-screen__image {

    /* background: url(../img/bg.png) center;
    max-height: 902px;
    width: 792px; */
    position: absolute;
    right: 0;
}
.main-screen__image img {
    max-width: 100%;
}

/* main-screen end*/

/* how */
.how {
    cursor: default;
    margin-bottom: 392px;
}

/* how__top */

.how__top {
    display: flex;
    align-items: center;
    gap: 136px;
    margin-bottom: 82px;
}
.how__top__titles {
    flex: 0 1 584px;
}
.how__top__title {
    font-family: var(--font-main);
    font-weight: var(--fw-700);
    font-size: 24px;
    line-height: 157%;
    color: var(--color-text);
}
.how__top__word {
    font-family: var(--font-add);
    font-weight: var(--fw-700);
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);
}
.how__top__desc {
    flex: 0 1 671px;
    align-self: flex-end;
    padding: 20px;
}
/* how-bottom */
.how-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 66px;
}
.how-bottom__step {
    display: flex;
    flex-direction: column;
}
.how-bottom__title {
    font-family:var(--font-add);
    font-weight: var(--fw-700);
    font-size: 30px;
    line-height: 150%;
    color: var(--color-black);
    margin-bottom: 20px;
}
.how-bottom__desc {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-text);
    margin-bottom: 72px;
    flex-grow: 1;

    /* 
    height: 150px;

     */
}

/* сделать картинку на всю ширину блкоа  */
.how-bottom__image {
    max-width: 392px;
    width: 100%;
}
.how-bottom__image img { 
    width: 100%;
}

/* how end */

/* story */
.story {
    background: var(--color-bg);
    padding: 229px 20px 176px;
}
.story__flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.story__info {
    flex: 0 1 900px;
    align-self: center;
    cursor: default;
}
.story__title {
    font-family: var(--font-add);
    font-style: normal;
    font-weight: var(--fw-700);
    font-size: 50px;
    line-height: 157%;
    color: var(--color-white);
}
.story__desc {
    font-family: var(--font-main);
    font-weight: var(--fw-600);
    font-size: 25px;
    line-height: 157%;
    color: var(--color-white);
    margin: 57px 0;

}
.story__image {
    width: 100%;
    height: 516px;
    background: url(../img/video.png) center no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: var(--b-radius);
}
.story__image img{
    max-width: 100%;
}

/* story end */

/* product */
.product {
    padding: 240px 0;
}

.product__flex {
    display: flex;
    justify-content: space-between;
    gap: 86px;
}
.product__image {
    background: url(../img/woman.png) center;
    background-size: cover;
    height: 573px;
    width: 100%;
    background-size: cover;
    border-radius: var(--b-radius);
}
/* .product__image img {
    max-width: 100%;
} */
.product__info {
    flex: 0 1 584px;
    cursor: default;
    
}
.product__text {
    font-family: var(--font-main);
    font-weight: var(--fw-600);
    font-size: 25px;
    line-height: 157%;
    color: var(--color-text);
}
.product__title {
    font-family: var(--font-add);
    font-weight: var(--fw-700);
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);
}
.product__desc {
    font-family: var(--font-main);
    font-weight: var(--fw-400);
    font-size: 20px;
    line-height: 31px;
    color: var(--color-text);
    margin-bottom: 40px;
}
/* product end */

/* footer */
.footer {
    background: var(--color-bg);
    padding: 90px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo {
    cursor: pointer;
}
.footer .nav__ul {
    gap: 60px;

}
.footer .nav__a {
    font-size: 25px;
    line-height: 30px;
    color: var(--color-white);
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: .3s all ease-in-out;
}
.footer .nav__a:hover {
    border-bottom: 1px solid var(--color-white);
}
/* footer end */


/* media */
.material-icons {
    display: none;
    font-size: 32px;
}
input, label {
    display: none;
}
/* xl */
@media (max-width:1200px) {
    /* header */
.header .nav {
        display: none;
    }
    /* main screen */
.main-screen {
    margin-bottom: 20px;
}
.main-screen__wrapper {
    background: url(../img/bg.png) center no-repeat;
    background-size: cover;
    width: 100%;
}
.main-screen__title, .main-screen__desc {
        background: rgba(255, 255, 755, 0.7);
        padding: 10px;
        border-radius: var(--b-radius);
    }
    .main-screen__image {
        display: none;
    }
    /* how */
.how {
    margin-bottom: 50px;
}
.how__top {
    flex-direction: column;
    gap: 20px;
}
.how__top__titles {
    flex: 0 1 auto;
}
.how__top__desc {
    flex: 0 1 auto;
}
.how-bottom {
    grid-template-columns: 1fr;
}
.how-bottom__image {
    max-width: 100%;
}
.how-bottom__image img { 
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: var(--b-radius);
}
    /* story */
.story {
    padding: 50px;
}
.story__flex{
    flex-direction: column;
}
.story__info {
    flex: 0 1 auto;
}
.story__image {

}
    /* product */
.product {
    padding: 50px 0;
}
.product__flex {
    flex-direction: column;
}
.product__info {
    flex: 0 1 auto;
}


    /* footer */
.footer__wrapper {
    flex-direction: column;
    gap: 70px;
}
    
}
/* md */
@media (max-width:720px) {
    .footer .nav__ul {
        flex-wrap: wrap;
        justify-content: center;

    }
}
/* sm */
@media (max-width:576px) {
    .material-icons, label {
        display: block;
        padding: 5px;
    }
    .header .close {
        display: none;
    }
    .header .nav {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background: rgb(11, 11, 11);
        width: 50%;
        border-radius: 0 9px 9px 0;
        opacity: .8;
    }
    .header .nav__ul {
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }
    .header .nav__ul a {
        color: var(--color-white);
    }
    .header__buttons {
        display: none;
    }
    .title-primary {
        line-height: 54px;
        font-size: 45px;
    }
    .how__top__word,.product__title,.story__title {
        font-size: 35px;
    }
    .header__buttons {
        display: none;
    }
    .btn {
        width: 100%;
    }
    .footer .nav__a {
        font-size: 20px;
    }
}
/* burger */

input:checked~.nav {
    display: block;
}
input:checked+label .menu {
    display: none;
}
input:checked+label .close{
    display: block;
}